.layout-one-wrapper {
    /* border: 2px solid red; */
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1408px;
    justify-content: space-between;
    align-items: center;
    margin-top: 160px;
    gap: 30px;
    margin: 128px;
    margin-top: 40px;

}

.layout-one-first-container {
   
    display: flex;
    position: relative;
   
    justify-content: space-between;

}

.layout-one-container{
position: absolute;
width: 704px;
height: 720px;
background-image: url("/images/Rows.png");
z-index: 1;
top: -40px;
}